---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { $dbLocation, $dbKey } from '@store/db'
  import { initDb } from '@utils/db'

  if (!$dbLocation.get() || !$dbKey.get()) {
    const locationUnsubscribe = $dbLocation.listen((location) => {
      if (location && $dbKey.get()) {
        initDb(location, $dbKey.get())
        locationUnsubscribe()
      }
    })
    const keyUnsubscribe = $dbKey.listen((dbKey) => {
      if (dbKey && $dbLocation.get()) {
        initDb($dbLocation.get(), dbKey)
        keyUnsubscribe()
      }
    })
  }
  initDb($dbLocation.get(), $dbKey.get())
</script>
